@use "variables" as *;
@use "mixins" as *;

.border {
    border-bottom: 1px solid white;
    margin: 0.25rem 0.5rem;
    background-color: transparent;
    max-width: 1920px;
}

.mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-logo {
    font-size: 3rem;
    font-family: 'Monoton', sans-serif;
    margin-left: 0.5rem;
}

.desktop-logo {
    display: none;
}

.btn-main-nav {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0;
}

@media (min-width: 48em) {
    header {
        flex-direction: row;
    }
}

@media (min-width: 75em) {
    .mobile-logo {
        display: none;
        padding: 0;
        margin: 0;
    }

    .desktop-logo {
        display: flex;
    }
}
