@use "variables" as *;
@use "mixins" as *;

.searchBox {
  display: flex;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 35px;
  height: 40px;
  overflow: hidden;
  // background-color: #333;
  padding: 0 0.5rem;
  transition: all 0.3s ease-in-out;

  .searchInput {
    width: 0;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 16px;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }

  .searchButton {
    background: none;
    border: none;
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
  }

  &.active {
    .searchInput {
      width: 150px;
      padding: 0 10px;
    }

    .searchButton {
      transform: rotate(90deg) scale(1.1);
    }
  }
}